body{background:#fff;margin-top:130px}
body.homepage{margin-top:75px}
a:hover{color:#444}
.container,.container-fluid{max-width:1100px;margin-left:auto;margin-right:auto}
.page-header .container-fluid{padding-left:0}
.hero-area{position:relative}
.sub-hero{margin-top:45px;text-align:center}
.right-panel{margin-left:350px;text-align:center;overflow:hidden}
.sub-hero h2{color:#666;font-size:24px!important}
.sub-description p{text-align:center;font-size:20px;line-height:24px}
.air{background:url(/assets/img/fp/air-small55202249113161128901061297012011435013558.png) no-repeat;width:570px;height:303px;margin-left:auto;margin-right:auto;margin-top:15px;text-align:center;cursor:pointer;margin-bottom:20px}
.air iframe{margin-top:24px}
.play-overlay:hover{color:#444}
.play-overlay{display:inline-block;width:420px;height:54px;opacity:.6;color:#444;margin-left:0;margin-top:135px;font-size:42px;line-height:48px;font-weight:bold;transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.air:hover .play-overlay{opacity:1;transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.quotation{margin-left:100px;margin-right:100px;position:relative;font-size:20px;line-height:24px}
.quotation:before{position:absolute;left:-40px;font-size:60px;content:'"';font-weight:bold;color:#777;top:0}
.quotation:after{position:absolute;right:-40px;font-size:60px;content:'"';font-weight:bold;color:#777}
.read-more{font-size:16px;margin:20px 0 20px 5px;display:inline-block}
.read-more-text{font-size:16px}
.wide-container{background:#fff;padding-top:30px;padding-bottom:30px}
.wide-container>.container-fluid>h1{font-size:40px;line-height:46px;color:#444;text-align:center;margin-top:20px}
.wide-container>.container-fluid.hero-area>h1{margin:20px 0 30px 0;text-align:center}
#js-intro-area h1{text-align:center}
#js-intro-area h2{margin-top:30px;font-size:28px;color:#777;text-align:center;display:block}
#js-intro-area{margin:0 auto 30px auto}
.navbar{margin-bottom:0}
.buttons{float:left;display:block;text-align:center}
.buttons .button{background:#E0004E;padding:15px;color:#fff;display:block;position:relative;width:270px;margin-bottom:10px;min-height:78px;border:3px solid white;text-align:left;-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out}
.buttons .button:hover{border:3px solid #D88FAA;text-decoration:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1)}
.button.button-demo{background:#777}
.buttons .button-demo:hover{border:3px solid #aaa}
.buttons .button h2{color:#fff;font-size:18px;margin-left:76px;margin-bottom:6px;margin-top:6px;line-height:22px}
#languages{margin-left:auto;margin-right:auto;text-align:center;margin-bottom:30px}
.homepage #languages{margin-top:30px;margin-bottom:40px}
.horiz-ss li a{-webkit-transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;transition:all 100ms ease-in-out}
.horiz-ss li a:hover{margin-top:-10px;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
#languages a{text-transform:lowercase;font-size:32px;color:#999;display:inline-block;margin-right:25px;line-height:38px;-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out}
#languages a.active{color:#E0004E}
#languages a:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1)}
#languages a:last-of-type{margin-right:0}
.buttons .button span.detail{margin-left:76px;display:block}
.image-line{position:absolute;width:59px;height:54px;top:25px;left:16px;display:block}
.button.button-analytics .image-line{background:url(/assets/img/fp/button-analytics.png) no-repeat}
.button.button-monitor .image-line{background:url(/assets/img/fp/button-monitor.png) no-repeat}
.button.button-notify .image-line{background:url(/assets/img/fp/button-notify.png) no-repeat}
.button.button-browserserver .image-line{background:url(/assets/img/fp/button-clientserver.png) no-repeat}
.button.button-demo .image-line{background:url(/assets/img/fp/button-demo.png) no-repeat}
.header .container-fluid{padding-top:15px}
.header .logo{background:url(/assets/img/logo-dark.png);width:131px;height:44px;display:block;margin-top:4px}
.header .nav{margin-top:14px;margin-left:50px}
.header .nav .dropdown a.dropdown-toggle{color:#fff}
.header .nav .dropdown a:hover,.header .nav .dropdown.open{background:#777}
.header .nav .dropdown .caret{border-top-color:#fff!important;border-bottom-color:#fff!important}
.header .sign-up{background:#E0004E;padding:14px;display:block;float:right;color:#fff;margin-left:30px}
.header .top-links{float:right;line-height:46px;vertical-align:middle}
.header .top-links a:link,.header .top-links a:visited{color:#fff;margin-right:20px}
.header .top-links a.horiz-break{margin-left:20px}
.header{background:rgba(5,5,5,0.8);margin-bottom:10px;position:fixed;z-index:999;height:75px;top:0;left:0;right:0}
.no-rgba .header{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC050505,endColorstr=#CC050505)}
.feature{position:relative}
.feature .detail{padding:60px 20px 60px 30px}
.feature .span6:first-of-type .detail{margin-left:30px}
.feature .detail .summary{position:relative;z-index:20}
.container-fluid h2{font-size:34px;line-height:42px;color:#333;margin:0 0 30px 0}
.feature-analytics{background:url(/assets/img/fp/analytics-bg18023322257167466319610923481476222312384.jpg);min-height:447px;max-height:447px}
.feature{overflow:hidden}
.feature-analytics .detail{color:#fff}
.feature-analytics .detail h2{color:#fff}
.feature-notifications{position:relative;min-height:447px;background:url(/assets/img/fp/notifications-bg197252471631931635212519510115111021813925120.jpg) no-repeat}
.feature-notifications .detail{color:#444}
.feature-notifications .detail h2{color:#444}
.feature-server{background:#444;background:url(/assets/img/fp/server-bg25114411715597159372515022721320910922698224.jpg) repeat}
.feature-server .detail{color:#fff;position:relative;margin-left:-160px;margin-right:170px}
.feature-server .detail h2{color:#fff}
.feature-browser{background:url(/assets/img/fp/browser-bg4012618014320722920220915081361919920227161.jpg) repeat}
.feature-browser .detail{padding-top:73px;position:relative}
.feature-overlay{background:url(/assets/img/fp/overlay-bg24512412107188104419754160924107506749.jpg);min-height:440px}
.feature-overlay .detail{color:#fff}
.feature-overlay .detail h2{color:#fff}
.features .container-fluid{background:#fff;box-shadow:0 0 4px #999;padding-left:0;padding-right:0}
ul.horiz-ss{list-style-type:none;margin:60px 0 0 0}
.horiz-ss li{min-height:80px;display:inline-block;margin-right:60px;opacity:1;z-index:10;cursor:pointer}
.horiz-ss li:last-of-type{margin-right:0}
.horiz-ss li a{position:relative;width:100px;height:80px;display:block;z-index:20}
.ss-analytics-1{background:url(/assets/img/fp/ss-dashboard-thumb.png) no-repeat}
.ss-analytics-2{background:url(/assets/img/fp/ss-progress-thumb.png) no-repeat}
.ss-analytics-3{background:url(/assets/img/fp/ss-failure-thumb.png) no-repeat}
.ss-report-1{background:url(/assets/img/fp/ss-reports-thumb.png) no-repeat}
.ss-report-2{background:url(/assets/img/fp/ss-phone-thumb.png) no-repeat}
.ss-report-3{background:url(/assets/img/fp/ss-reports-failure-thumb.png) no-repeat}
.alternate-summary{position:absolute;top:60px;left:30px;right:20px;bottom:30px;opacity:0;-ms-filter:"alpha(opacity=0)";transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.alternate .alternate-summary,.summary{opacity:1;-ms-filter:"alpha(opacity=100)";transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.alternate .summary{opacity:0;-ms-filter:"alpha(opacity=0)";transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.feature-browser .alternate-summary{top:75px}
.tile-row a{opacity:0;-webkit-opacity:0;-moz-opacity:0}
.tile-row a.visible{opacity:1;-webkit-opacity:1;-moz-opacity:1;transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transition:opacity .5s;-o-transition:opacity .5s}
.tiles-server{margin-top:20px;margin-left:-118px;width:530px;height:427px;position:relative}
.tiles-server .tile-row a{background:white;cursor:pointer}
.tile-row a:hover:after{content:'';background:url(/assets/img/fp/search.png) no-repeat;width:32px;height:32px;display:block;z-index:9999;margin-left:5px;margin-top:5px}
.tiles-server .cell-1-1{right:50px;height:100px;width:130px;position:absolute;top:50px;background:url(/assets/img/fp/tile-server-2-thumb.png)!important}
.tiles-server .cell-2-1{right:220px;height:120px;width:130px;position:absolute;top:170px;background:url(/assets/img/fp/tile-server-7-thumb.png)!important}
.tiles-server .cell-2-2{right:50px;height:120px;width:150px;position:absolute;top:170px;background:url(/assets/img/fp/tile-server-3-thumb.png)!important}
.tiles-server .cell-3-1{right:110px;height:100px;width:90px;background:blue;position:absolute;top:310px;background:url(/assets/img/fp/tile-server-1-thumb.png)!important}
.tiles-server .cell-3-2{right:-110px;height:100px;width:200px;position:absolute;top:310px;background:url(/assets/img/fp/tile-server-5-thumb.png)!important}
.tiles-server .cell-3-3{right:-220px;height:100px;width:90px;position:absolute;top:310px;background:url(/assets/img/fp/tile-server-6-thumb.png)!important}
.tiles-browser{width:530px;height:427px;margin-left:30px;position:relative}
.tiles-browser .tile-row a{border:#ddd 1px solid;cursor:pointer}
.tiles-browser .cell-1-1{left:-5px;height:100px;width:145px;position:absolute;top:10px;background:url(/assets/img/fp/tile-browser-2-thumb.png)!important}
.tiles-browser .cell-2-1{left:50px;height:120px;width:90px;position:absolute;top:130px;background:url(/assets/img/fp/tile-browser-1-thumb.png)!important}
.tiles-browser .cell-2-2{left:160px;height:120px;width:150px;position:absolute;top:130px;background:url(/assets/img/fp/tile-browser-4-thumb.png)!important}
.tiles-browser .cell-2-3{left:330px;height:120px;width:120px;position:absolute;top:130px;background:url(/assets/img/fp/tile-browser-3-thumb.png)!important}
.tiles-browser .cell-3-1{left:240px;height:100px;width:210px;position:absolute;top:270px;background:url(/assets/img/fp/tile-browser-5-thumb.png)!important}
h1.major-header{text-align:left!important;font-size:60px!important;margin-bottom:45px;color:#666!important;margin-top:60px!important;font-weight:200;line-height:66px}
h1.major-header span{margin-top:10px;float:right;font-size:24px;line-height:28px}
.heading h1{font-size:26px}
.heading{margin-bottom:40px}
.progress-step{margin-top:10px}
.get-started .step .number{font-size:200px;color:#ddd;line-height:200px;font-weight:bold;float:left}
.step{min-height:195px}
.get-started .step .desc{padding-top:25px;margin-left:120px;color:#444;position:relative;min-height:152px}
.get-started .step .desc h2{border-bottom:3px solid #ddd;margin-bottom:15px}
.get-started .step .desc ul{margin:0;list-style-type:none}
.get-started .step .desc ul li{margin-right:20px;font-size:16px;display:inline-block}
.get-started .step .desc .action{margin-top:15px;font-size:16px;position:absolute;bottom:0;left:0}
.get-started .support-link{font-size:20px;text-align:right;margin-top:30px}
.contact-module{height:200px;background:#999;color:#fff;margin-left:auto;margin-right:auto;position:relative;margin-bottom:20px;cursor:pointer;display:block}
.contact-module .icon-glyph{width:32px;height:32px;position:absolute;top:10px;right:10px}
.contact-module h2{text-align:left;bottom:10px;left:10px;font-size:16px;position:absolute;color:#fff;font-weight:normal}
.contact-module.twitter{background-image:-moz-linear-gradient(top,#5FAFE9,#2679B5);background-image:-ms-linear-gradient(top,#5FAFE9,#2679B5);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5FAFE9),to(#2679B5));background-image:-webkit-linear-gradient(top,#5FAFE9,#2679B5);background-image:-o-linear-gradient(top,#5FAFE9,#2679B5);background-image:linear-gradient(top,#5FAFE9,#2679B5);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FAFE9',endColorstr='#2679B5',GradientType=0)}
.contact-module.twitter .icon-glyph{background:url(/assets/img/fp/twitter.png)}
.contact-module.blogger{background-image:-moz-linear-gradient(top,#F31C59,#B51545);background-image:-ms-linear-gradient(top,#F31C59,#B51545);background-image:-webkit-gradient(linear,0 0,0 100%,from(#F31C59),to(#B51545));background-image:-webkit-linear-gradient(top,#F31C59,#B51545);background-image:-o-linear-gradient(top,#F31C59,#B51545);background-image:linear-gradient(top,#F31C59,#B51545);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F31C59',endColorstr='#B51545',GradientType=0)}
.contact-module.blogger .icon-glyph{background:url(/assets/img/fp/blogger.png)}
.contact-module.facebook{background-image:-moz-linear-gradient(top,#3B5998,#253960);background-image:-ms-linear-gradient(top,#3B5998,#253960);background-image:-webkit-gradient(linear,0 0,0 100%,from(#3B5998),to(#253960));background-image:-webkit-linear-gradient(top,#3B5998,#253960);background-image:-o-linear-gradient(top,#3B5998,#253960);background-image:linear-gradient(top,#3B5998,#253960);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B5998',endColorstr='#253960',GradientType=0)}
.contact-module.facebook .icon-glyph{background:url(/assets/img/fp/facebook.png)}
.contact-module.email{background-image:-moz-linear-gradient(top,#808080,#404040);background-image:-ms-linear-gradient(top,#808080,#404040);background-image:-webkit-gradient(linear,0 0,0 100%,from(#808080),to(#404040));background-image:-webkit-linear-gradient(top,#808080,#404040);background-image:-o-linear-gradient(top,#808080,#404040);background-image:linear-gradient(top,#808080,#404040);background-repeat:repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080',endColorstr='#404040',GradientType=0)}
.contact-module.email .icon-glyph{background:url(/assets/img/fp/email.png) no-repeat 0 5px}
.contact-module.email h2{font-size:16px}
.js-script{padding:10px;background:#ddd;font-size:20px;line-height:28px;margin-bottom:5px;display:block;margin-top:65px}
.main{margin:0}
@media(max-width:768px){.wide-container>.container.hero-area>h1{margin:0}
}
@media(max-width:1220px){.get-started .step .desc .action{position:static}
.get-started .step .desc .action li{margin-bottom:5px}
}
@media(max-width:604px){.top-links{display:none!important}
#languages a{font-size:18px;margin-right:8px;line-height:24px}
.homepage #languages{margin-bottom:30px}
.buttons .button{width:230px}
.air{display:none}
}
@media(max-width:1056px){.horiz-ss li{margin-right:10px}
.feature .detail{padding:20px 40px 40px 40px}
.container-fluid h2{font-size:24px;line-height:30px}
.feature-analytics{min-height:0}
.feature-notifications{min-height:0}
.feature-overlay{min-height:0}
ul.horiz-ss{margin:20px 0 0 0}
.tiles-server{margin-left:0;height:367px}
.tiles-server .cell-1-1{right:auto;left:30px;top:10px}
.tiles-server .cell-2-1{right:auto;left:180px;top:10px;height:100px}
.tiles-server .cell-2-2{right:auto;left:30px;top:125px;height:100px;width:170px;background-repeat:no-repeat}
.feature-server .detail{margin-left:-110px;margin-right:0}
.tiles-server .cell-3-1{left:220px;top:125px;width:90px}
.tiles-server .cell-3-3{left:30px;top:240px}
.tiles-server .cell-3-2{left:140px;width:170px;top:240px}
.feature-server .alternate-summary{top:20px;left:40px}
.feature-browser .alternate-summary{top:20px;left:30px}
.feature-browser .detail{padding-left:30px!important;margin-left:0!important}
.tiles-browser .cell-1-1{left:-40px;width:120px;top:10px}
.tiles-browser .cell-3-1{left:100px;top:10px;width:140px}
.tiles-browser .cell-2-1{left:-40px;top:130px;width:90px}
.tiles-browser .cell-2-2{left:55px;top:130px;width:90px}
.tiles-browser .cell-2-3{left:150px;top:130px;width:90px}
}
@media(max-width:1376px) and (min-width:768px){.air{margin-left:auto;margin-right:auto;text-align:center}
}
@media(max-width:768px){.get-started .step .desc{min-height:180px}
.air{display:none}
.wide-container{padding-top:0;padding-bottom:0}
.buttons .button{display:inline-block}
.feature .detail{padding:20px 20px 20px 20px}
.feature.row-fluid .span6 ~ .span6 .detail{padding-top:0}
.feature .span6:first-of-type .detail{margin-left:0}
.tiles-server{margin-left:-10px}
.feature-server .detail{margin-left:0;min-height:250px}
.feature-server .alternate-summary{top:0;left:20px}
.feature-browser .detail{margin-left:0;min-height:180px;padding-left:20px!important}
.feature-browser .alternate-summary{top:20px;left:20px}
.feature-browser{background:0}
.tiles-browser{margin-left:60px!important;height:290px}
.right-panel{margin:0 0 30px 0!important;overflow:visible}
}
@media(max-width:382px){h1.major-header{font-size:30px!important;line-height:36px;margin-top:30px!important;margin-bottom:30px!important}
.get-started h1.major-header{margin-bottom:0!important}
h1.major-header span{font-size:18px}
.horiz-ss li{display:none}
.horiz-ss li:nth-child(1),.horiz-ss li:nth-child(2){display:inline-block}
}
.js-features .row-fluid{margin-bottom:30px}
.js-feature-img{min-height:200px;margin-bottom:40px;display:block;width:90%;box-shadow:0 0 4px 1px #ddd}
.js-feature-analytics{background:url(/assets/img/js/analytics-thumb.jpg) no-repeat;height:297px}
.js-feature-browser{background:url(/assets/img/js/browser-thumb.png) no-repeat;height:263px}
.js-feature-ajax{background:url(/assets/img/js/ajax-thumb.png) no-repeat;height:226px}
.js-feature-timeline{background:url(/assets/img/js/timeline-thumb.png) no-repeat;height:239px}
.js-feature-server{background:url(/assets/img/js/server-thumb.png) no-repeat;height:269px}
.js-feature-lock{background:url(/assets/img/js/lock.png) no-repeat;height:239px}
.js-table{margin-bottom:60px}
.overlay-feature-img{border:solid 8px #555!important;min-height:200px;margin-bottom:40px;width:355px}
.overlay-feature-integrate{background:url(/assets/img/integration-box1.png) no-repeat}
.overlay-feature-replay{background:url(/assets/img/integration-box2.png) no-repeat}
.overlay-feature-dashboard{background:url(/assets/img/integration-box3.png) no-repeat}
.overlay-feature-code{background:url(/assets/img/integration-box4.png) no-repeat}
.article p,.article{font-size:16px;line-height:22px}
.article p{margin-bottom:26px}
.article ol li{margin-bottom:26px}
.article h2{font-size:20px;line-height:26px;margin-bottom:20px}
.article .figure{border:7px solid #fff;box-shadow:0 0 4px #DDD}
.figure-text{display:block;font-size:14px;margin-top:5px;margin-bottom:20px;font-weight:600;text-align:center}
.article .highlight-text{font-weight:700;line-height:36px}
.article .article-step{margin-bottom:30px}
.article .step-number{width:120px;text-align:center;font-size:100px;line-height:80px;font-weight:bold;float:left;vertical-align:middle;color:#E0004E}
.article .step-content b{line-height:30px}
.article .step-content{margin-left:120px;text-align:justify;text-justify:inter-word}
.social{margin-top:15px;text-align:center;vertical-align:middle}
.social>div,.social iframe{display:inline-block!important;vertical-align:middle!important}
